.blue1{
    color: #648EC7;
}
.bg-blue1{
    background-color: #648EC7;
}
.border-blue1{
    border-color: #648EC7;
}
.btn {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #648EC7; 
    border-radius: 25px;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: #648EC7; 
    color: #fff; 
}

.bg-admission-banner {
    background-image: url('../img/admission-banner.png');
}