<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <select name="city" id="city" class="text-sm p-1 border border-blue-200 rounded-md w-full">
        <option value="">-- select one --</option>
        <option value="Manila">Manila</option>
        <option value="Quezon City">Quezon City</option>
        <option value="Davao">Davao</option>
        <option value="Caloocan City">Caloocan City</option>
        <option value="Canagatan">Canagatan</option>
        <option value="Taguig City">Taguig City</option>
        <option value="Pasig City">Pasig City</option>
        <option value="Valenzuela">Valenzuela</option>
        <option value="City of Parañaque">City of Parañaque</option>
        <option value="Bacoor">Bacoor</option>
        <option value="Tondo">Tondo</option>
        <option value="Las Piñas City">Las Piñas City</option>
        <option value="Pasay City">Pasay City</option>
        <option value="Mandaluyong City">Mandaluyong City</option>
        <option value="Malabon">Malabon</option>
        <option value="San Pedro">San Pedro</option>
        <option value="Navotas">Navotas</option>
        <option value="Santa Ana">Santa Ana</option>
        <option value="General Mariano Alvarez">General Mariano Alvarez</option>
        <option value="Payatas">Payatas</option>
        <option value="San Andres">San Andres</option>
        <option value="Santa Cruz">Santa Cruz</option>
        <option value="San Juan">San Juan</option>
        <option value="Poblacion">Poblacion</option>
        <option value="Santamesa">Santamesa</option>
        <option value="Bagong Silangan">Bagong Silangan</option>
        <option value="Putatan">Putatan</option>
        <option value="Western Bicutan">Western Bicutan</option>
        <option value="Banco Filipino International Village">Banco Filipino International Village</option>
        <option value="Paco">Paco</option>
        <option value="Malate">Malate</option>
        <option value="Pandacan">Pandacan</option>
        <option value="San Isidro">San Isidro</option>
        <option value="San Antonio">San Antonio</option>
        <option value="Pateros">Pateros</option>
        <option value="Tatalon">Tatalon</option>
        <option value="Sucat">Sucat</option>
        <option value="Don Bosco">Don Bosco</option>
        <option value="Lower Bicutan">Lower Bicutan</option>
        <option value="Bignay">Bignay</option>
        <option value="Bagumbayan">Bagumbayan</option>
        <option value="Upper Bicutan">Upper Bicutan</option>
        <option value="Marikina Heights">Marikina Heights</option>
        <option value="Central Signal Village">Central Signal Village</option>
        <option value="Bayanan">Bayanan</option>
        <option value="Karuhatan">Karuhatan</option>
        <option value="Bel-Air">Bel-Air</option>
        <option value="Santo Niño">Santo Niño</option>
        <option value="Pansol">Pansol</option>
        <option value="Baclaran">Baclaran</option>
        <option value="West Rembo">West Rembo</option>
        <option value="Bagong Pag-Asa">Bagong Pag-Asa</option>
        <option value="Pinyahan">Pinyahan</option>
    </select>
</body>
</html>
