<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <select name="course" id="course" class="text-sm p-1 border border-blue-200 rounded-md">
        <option value="">-- select one --</option>
        <option value="bsit">Bachelor of Science in Information Technology</option>
        <option value="bshm">Bachelor of Science in Hospitality Management</option>
        <option value="bscrim">Bachelor of Science in Criminology</option>
        <option value="bsba">Bachelor of Science in Business Administration</option>
        <option value="bse">Bachelor of Education Major in English</option>
        <option value="bsm">Bachelor of Education Major in Math</option>
    </select>
</body>
</html>