<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <select name="suffix" id="suffix" class="text-sm p-1 border border-blue-200 rounded-md w-full">
        <option value="">-- select one --</option>
        <option value="jr">JR</option>
        <option value="sr">SR</option>
        <option value="i">I</option>
        <option value="ii">II</option>
        <option value="iii">III</option>
        <option value="iv">IV</option>
    </select>
</body>
</html>